/* colors pallet */
:root {
    --dark-blue: #0A2463;
    --gold: #DAA520;
    --light-gray: #eceaea;
    --white: #FFFFFF;
    --teal: #008080;
}

/* body style */
body {
    padding: 0;
    margin: 0;
    font-family: Poppins, Arial, Helvetica, sans-serif;
}

/* navbar */
.navbar-brand img {
    width: 100px;
    height: auto;
}

.navbar-toggler {
    border: none;
    padding: 0.5rem;
    transition: all .3s ease-in;
    position: relative;
    outline: none !important;
    box-shadow: none !important;
}

.navbar-toggler-icon {
    filter: invert(6%) sepia(1%) saturate(2%) hue-rotate(15deg) brightness(100%) contrast(106%);
}

.offcanvas {
    background-color: var(--white);
    color: var(--dark-blue);
    transition: transform 0.4s ease-in-out;
}

.offcanvas-header {
    border-bottom: 1px solid var(--dark-blue);
    padding: 1.5rem 1rem 1rem;
}

.offcanvas-title {
    font-size: 1rem;
    font-weight: bold;
}

.btn-close {
    filter: brightness(1);
    opacity: 1;
    transition: all .3s ease-out;
}

.btn-close:hover {
    opacity: 1;
    transform: rotate(90deg);
}

.offcanvas-body {
    padding: 1rem 1.5rem;
}

@media only screen and (device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3) {
    .navbar-brand img {
        width: 80px;
        height: auto;
    }
    
    .navbar-brand p{
        font-size: 11px;
    }

    .navbar-nav {
        display: flex;
        align-items: center;
    }

    .nav-link i {
        font-size: 1.5rem;
        line-height: 1;
    }
}

/* hero section */
.hero-image img {
    width: 300px;
    height: 300px;
}

.hero-text {
    background-color: var(--light-gray);
    padding: 10px;
    border-radius: 10px;
}

.hero-text h1 span {
    background-color: var(--dark-blue);
    color: var(--white);
    padding-left: 8px;
    padding-right: 8px;
}

@media (min-width: 300px) and (max-width: 568px) {
    .hero-text {
        margin-top: 20px;
    }
}

.infos .info span {
    background-color: var(--gold);
    padding: 10px;
    border-radius: 50px;
    font-size: 25px;
}

.infos .info span:hover {
    background-color: var(--dark-blue);
    color: var(--gold);
    transition: .4s all ease;
}